<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <i class="far fa-newspaper fa-2x"></i>
    <span class="title h2">Today's News</span> 
  </a>
</nav>

<div class="container-fluid my-4">
  <div class="row d-flex justify-content-center">
    <%= render partial:'displayCard' %>
  </div>
 
</div>


<div class="d-flex justify-content-center mt-4">
<nav aria-label="Page navigation example">
  <ul class="pagination">
  <%= render partial:'pagination' %>
  

  </ul>
</nav>
</div>



