@import "bootstrap";
@import '@fortawesome/fontawesome-free';
  
html {
  min-height: 100%;
}
body {
  min-height: 100%;
  background-image: url("/images/bg-web2.jpg");
}

.title {
  font-family: 'Times New Roman', Times, serif
}


.mt-10 {
  margin-top: 10vh;
}


.pagination > li > a {
  background-color: white;
  color:lightgray;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: lightgray;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a {
  color: white;
  background-color: rgb(182, 182, 182) !important;
  border: solid 1px rgb(182, 182, 182) !important;;
}

.pagination > .active > a:hover {
  background-color: rgb(182, 182, 182) !important;;
  border: solid 1px rgb(182, 182, 182) !important;;
}

.firstArticle {
  height: 350px;
  width: 100%;
  display: block;
}

.secondArticle {
  height: 175px;
  width: 100%;
}

.colorGrad {
  background: rgba(0, 0, 0, 0.575);
}

.sourcePosition{
  position:relative;
  top: 10px;
  left: 10px;
}

.bg-red{
  background: red;
}

.bg-lightgrey{
  background: rgba(247, 247, 247, 0.815);
}

.border-darker{
  border-bottom: 3px solid black;
}

footer{
  margin-top: 15px;
  width: 100%;
  height: 50px;

  span{
    font-size: .7rem;
  }
}

